<nav class="flex items-center justify-between bg-blue-500 p-6 shadow-xl">
  <div class="flex items-center">
    <span
      class="w-64 text-md font-semibold text-white tracking-tight text-center lg:w-60 lg:text-xl"
      >Gestor de Finanzas |
    </span>
    <div class="flex space-x-4 w-full block flex-grow lg:items-center lg:w-auto">
      <a href="/" class="block lg:inline-block lg:mt-0 text-white hover:text-white pl-4">
        Inicio
      </a>
      <a href="/acercade" class="block lg:inline-block lg:mt-0 text-white hover:text-white">
        Nosotros
      </a>
    </div>
  </div>
</nav>
